<div style="display:flex; justify-content: space-between">
    <div>
        <a href="/Course/List">Subject List</a>
        <a href="/Course/Add">Add Course</a>
    </div>
    <div>
        <a href="#">Log Out</a>
    </div>
</div>